@import '_reset', '_mixins';

body {
  background: url('../assets/background.png') center/cover no-repeat;
}

.Quiz {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
  @include flex(column, nowrap, center, center);
  background-color: aqua;

  &-h1 {
    color: var(--blanco-texto);
    // font-family: Poppins;
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 29rem;
  }

  &-container {
    position: relative;
    background-color: var(--blanco);
    border-radius: 1.5rem;
    max-width: 29rem;
    width: 100%;
    height: 39.3125rem;
    @include flex(column, nowrap, space-between, flex-start);
  }

  &-svg {
    position: absolute;
    width: 10.125rem;
    height: 7.25rem;
    top: -4.7rem;
    right: 0;
  }

  &-img {
    width: 5.25rem;
    height: 3.375rem;
    margin: 4rem 0 0 2rem;
  }

  &-question {
    margin: 0 2rem 0 2rem;
    color: #1d355d;
    // font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &-bottom {
    // background-color: lightblue;
    width: 100%;
    height: 25rem;
    @include flex(column, nowrap, center, center);
  }

  &-option {
    margin: 1rem 0;
    width: 25rem;
    height: 3.5rem;
    background-color: #1d355d;
    border-radius: 0.75rem;
    border: 2px solid var(--borde);
    background: var(--blanco);
    color: var(--letra);
    @include flex(column, nowrap, center, center);
  }
}
